ul,ol {
    list-style: none;
}
.show_wrapper {
    display: flex;
    justify-content: center;
}
.link_to {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    color: #d61d4e;
    text-decoration: none;
}
.list_element {
    border: 1px solid firebrick;
    margin-top: 15px;
    padding: 25px 25px;
    box-shadow: 5px 5px 7px lightblue;
}
.on_create {
    margin: 0 0 25px 0;
    border: none;
    background-color: #d61d4e;
    color: #ffdee6;
    cursor: pointer;
    height: 30px;
}
.on_create:hover {
    background-color: #ff0b55;
}