.register_wrapper {
    background-color: #107595;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 610px;
}
.register {
    display: flex;
    justify-content: center;
    height: 250px;
}
.user__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.user__title {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.form__group_inp {
}
.form__input {
    width: 250px;
    margin: 5px 10px 5px 10px;
    padding: 5px;
    border-radius: 5px 5px 5px 3px;
    border: none;
}
.form__group_btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 15px;
}
.btn_register {
    margin: 0 0 25px 0;
    border: none;
    background-color: #d61d4e;
    color: #ffdee6;
    cursor: pointer;
    height: 30px;
}
.btn_login {
    border: none;
    background-color: #d61d4e;
    color: #ffdee6;
    cursor: pointer;
    height: 30px;
}
.btn_register:hover {
    background-color: #ff0b55;
}
.on_profile {
    border: none;
    background-color: #d61d4e;
    color: #ffdee6;
    cursor: pointer;
    height: 30px;
}
.on_profile:hover {
    background-color: #ff0b55;
}
.btn_show_holder {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}