.create_holder {
    border: 1px solid black;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.action_wrapper {
    display: flex;
    align-items: center;
}
.btn {
    margin: 10px 25px 15px 0;
    border: none;
    background-color: #d61d4e;
    color: #ffdee6;
    cursor: pointer;
    height: 30px;
}
.btn:hover {
    background-color: #ff0b55;
}